# Dataset (large, don't push)
data/
*.mp3
*.wav
*.pkl
*.keras
*.h5

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# VSCode
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

