flask
flask-cors
gunicorn
numpy
librosa
joblib
tensorflow
imageio-ffmpeg
matplotlib
seaborn
scikit-learn
pandas
tqdm
soundfile
resampy
imbalanced-learn
audiomentations
torch
torchaudio
torchvision
focal-loss

